* {
  margin: 0;
  padding: 0;
}

.accordian {
  width: 805px;
  height: 320px;
  overflow: hidden;
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul {
  width: 1200px;
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.accordian ul:hover li {
  width: 40px;
}

.accordian ul li:hover {
  width: 640px;
}

.accordian li img {
  display: block;
}

.jumbotron.hero-naruto.carousel-hero {
  background-image: url('../../assets/img/index/4thnaruto.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-Armin.carousel-hero {
  background-image: url('../../assets/img/index/5thaot.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-Ichigo.carousel-hero {
  background-image: url('../../assets/img/index/6thbleach.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-Monkey.carousel-hero {
  background-image: url('../../assets/img/index/7thonepiece.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-Natsu.carousel-hero {
  background-image: url('../../assets/img/index/8thfairytail.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-Saitama.carousel-hero {
  background-image: url('../../assets/img/index/9thopm.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron.hero-RoyMustang.carousel-hero {
  background-image: url('../../assets/img/index/10thfmb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.Tribute-Image:hover {
  transform: scale(1.08);
  transition: all 0.2s ease-in;
}

