<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mr+De+Haviland">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Image-Caption-Hover-Effect-5.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Full-Video-Background-v2.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/header-1.css">
    <link rel="stylesheet" href="assets/css/header-2.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Latest-Events.css">
    <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean" style="padding: 10px;background: rgb(47,51,157);box-shadow: 0px 0px 20px rgb(0,0,0);">
        <div class="container-fluid">
            <div><a href="index.html" style="color: rgb(255,255,255);text-decoration: none;font-size: 33px;font-family: Atma, cursive;">Anime Fan</a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item d-flex d-xl-flex align-items-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center align-items-xl-center" href="index.html" style="color: rgb(255,255,255);"><i class="fa fa-home d-flex align-items-center" style="padding-right: 10px;font-size: 18px;"></i>Home&nbsp;</a></li>
                    <li
                        class="nav-item d-flex d-xl-flex align-items-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center align-items-xl-center" href="about.html" style="color: rgb(255,255,255);"><i class="fas fa-info d-flex align-items-center" style="padding-right: 10px;"></i>About Us<br></a></li>
                        <li
                            class="nav-item d-flex d-xl-flex align-items-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center align-items-xl-center" href="tribute.html" style="color: rgb(255,255,255);"><i class="material-icons d-flex align-items-center" style="padding-right: 10px;font-size: 18px;">description</i>Tribute</a></li>
                            <li
                                class="nav-item d-flex d-xl-flex align-items-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center align-items-xl-center" href="search.html" style="color: rgb(255,255,255);"><i class="fas fa-search" style="padding-right: 10px;font-size: 18px;"></i>Search</a></li>
                                <li
                                    class="nav-item d-xl-flex align-items-xl-center"></li>
                                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="padding: 10px;color: rgb(255,255,255);" href="#">Andrew Stevens<img style="width:30px;height:30px;padding:0;margin-left:5px;" src="assets/img/andrew.jpg"></a>
                                        <div
                                            class="dropdown-menu"><a class="dropdown-item" href="#" style="padding-bottom: 6px;">My favourites</a><a class="dropdown-item" href="#">Logout <i class="fa fa-user-times" id="logouticon"></i></a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <section class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;opacity: 0.78;height: 300px;background: url(&quot;assets/img/back.png&quot;) center / cover no-repeat, rgba(255,255,255,0.22);margin-top: 2px;box-shadow: 0px 0px 20px;">
        <div style="background: rgba(255,255,255,0.7);padding: 10px 50px;box-shadow: 0px 0px 10px;border-radius: 25px;margin: 0 2.725%;">
            <h1>Anime Fan</h1>
            <p style="color: rgb(0,0,0);">We are just a group of weebs just trying to make your life easier! Hope you also drink Anime</p>
        </div>
    </section>
    <section id="about" style="padding-top: 50px;padding-bottom: 50px;">
        <div class="container">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">About</h2>
                    <h3 class="text-muted section-subheading"><br>Anime Fan began with the idea of providing<br>entertainment to the community of anime enthusiasts around the world. Our way<br>of taking part in that ever-growing community is by providing anime fans with<br>the information they
                        need and deserve. We provide anime episode recommendations,<br>and have grown with our readers to become the diverse source of information<br>that Anime Fan is today.<br><br>We specialize in<br>top 10 lists, covering all genres
                        of anime; we also provide similar anime<br>recommendations of classic series as well as the latest seasonal anime. Collectively,<br>Anime Fan is a team composed of anime fans just like you, from all over the<br>world!<br><br>Join
                        us as we<br>take you on an amazing journey, the life of which no other anime fan has<br>experienced before. If you stick with us, we will dedicate ourselves to<br>providing you with the freshest and best content an anime site can
                        offer. There<br>will be no dull moments with us!<br></h3>
                    <h3>PRIVACY POLICY</h3>
                    <h6>1. ACCEPTANCE OF THE PRIVACY POLICY<br><br>Terms of Service of Anime Fan are incorporated herein by reference. By using<br>the Service, you agree to be bound by the Terms of Service. <br><br>2. COLLECTION OF INFORMATION AND USE BY
                        ANIME FAN<br><br>We collect personal information when you register with Anime Fan. Anime Fan may<br>combine information about you that we have with information we obtain from<br>business partners or other companies such as Google,
                        for the purpose of<br>delivering personalized content. When you register, we ask for information such<br>as your name, gender, age and email address. Anime Fan uses the information for<br>the following general purposes: to customize
                        the content you see, fulfil your<br>requests for services, improve our services, contact you, and conduct research.<br><br>3. CHILDREN'S PRIVACY<br><br>We do not knowingly collect information from<br>children under 13 and we do
                        not want it. We will take steps to delete it if we<br>learn we have collected it.<br><br>We do not knowingly collect, maintain, or use personal information from<br>children under 13 years of age, and no part of the service is directed
                        to<br>children under the age of 13. If you learn that your child has provided us with<br>personal information without your consent, you may alert us via the contact form.<br>If we learn that we have collected any personal information
                        from children under<br>13, we will promptly take steps to delete such information and terminate the<br>child's account.<br><br>4. INFORMATION SHARING<br><br>We do not rent, sell, or share personal information about you with other
                        people or<br>non-affiliated companies except to provide products or services you've<br>requested, when we have your permission, or when we respond to subpoenas, court<br>orders, or legal process, or to establish or exercise our
                        legal rights or defend<br>against legal claims. If we become involved in a merger, acquisition, or any<br>form of sale of some or all of its assets, we will provide notice before<br>personal information is transferred and becomes
                        subject to a different privacy<br>policy.<br><br>5. COOKIES<br><br>We use “cookies” on Anime Fan to track how users use our website. A cookie is a<br>small text file that is stored on a user’s computer for record-keeping<br>purposes.
                        We link some information we store in cookies to personal information<br>you submit in order to deliver a better experience on the service.<br><br>We use both session ID cookies and persistent cookies. A session ID cookie expires<br>when
                        you close your browser. We use session cookies to make it easier for you<br>to navigate our site. A persistent cookie remains on your hard drive for an<br>extended period of time. We set a persistent cookie to store your passwords,
                        so<br>you don’t have to enter it more than once. You can remove persistent cookies by<br>following directions provided in your Internet browser’s “help” file.<br><br>If you reject cookies, you may still use our website, but your
                        ability to use some<br>areas of our site, such as contests or surveys, may be limited.<br><br>As is true of most websites, we gather certain information automatically and store<br>it in log files. These are non-personal information
                        which includes internet<br>protocol (IP) addresses, browser type, internet service provider (ISP),<br>referring/exit pages, operating system, date/time stamp, and clickstream data.<br>We use this information, which does not identify
                        individual users, to analyse<br>trends, to administer the website, to track users’ movements around the website<br>and to gather demographic information about our user base as a whole. We do<br>link this automatically-collected
                        data to personal information.<br><br>6. BEHAVIORAL TARGETING / RE-TARGETING<br><br>We partner with a third-party ad network to either display advertising on our<br>website or to manage our advertising on other sites. Our ad network
                        partner<br>uses cookies and Web beacons to collect non-personal information about your<br>activities on this and other websites to provide you targeted advertising based<br>upon your interests. If you wish not to have this information
                        used for the<br>purpose of serving you targeted ads, you may opt-out by clicking here. Please<br>note this does not opt you out of being served advertising. You will continue<br>to receive generic ads.<br><br>7. CONTENT OF ITEMS<br><br>The
                        contents of any item that you post directly to the site, including any text,<br>images and audio, are stored and maintained on our servers in order to publish<br>these items and provide the Service. Your submitted content will
                        be associated<br>with your account.<br><br>8. CONFIDENTIALITY AND SECURITY<br><br>The security of your personal information is important to us. We follow generally<br>accepted standards to protect the personal information submitted
                        to us, both<br>during transmission and once we receive it. We limit access to personal<br>information about you to employees who we believe reasonably need to come into<br>contact with that information to provide products or services
                        to you or in<br>order to do their jobs. These individuals are bound by confidentiality<br>obligations and may be subject to discipline, including termination and<br>criminal prosecution, if they fail to meet these obligations.
                        No method of<br>transmission over the Internet, or method of electronic storage, is secure,<br>however, we cannot guarantee its absolute security.<br><br>9. THIRD PARTY SITES<br><br>This Policy only applies to the Anime Fan website
                        and services. We do not exercise<br>control over the sites that our service links to. These other sites may place their<br>own cookies or other files on your computer, collect data or solicit personal<br>information from you. We
                        encourage you to read such privacy policies of any<br>third-party sites you visit. It is the sole responsibility of such third<br>parties to adhere to any applicable restrictions on the disclosure of your<br>personal information,
                        and we shall not be liable for wrongful use or disclosure<br>of your personal information by any third party.<br><br>(i) Anime Fan may sometimes use third-party<br>advertising companies to serve ads to users;<br><br>(ii) Third-party
                        advertising companies may use non-personally identifiable<br>information about user visits in order to provide advertisements for goods and<br>services that may be of interest to the user.<br><br>10. DATA INTEGRITY<br><br>We process
                        personal information only for the purposes for which it was collected<br>and in accordance with this policy. We review our data collection, storage and<br>processing practices to ensure that we only collect, store and process the<br>personal
                        information needed to provide or improve our services. We take<br>reasonable steps to ensure that the personal information we process is<br>accurate, complete, and current, but we depend on our users to update or<br>correct their
                        personal information whenever necessary. Users can update, correct<br>or delete their personal information through the profile page of their account<br>or by contacting us.<br><br>We will retain your information for as long as
                        your account is active or as needed<br>to provide you services. We will retain and use your information as necessary<br>to comply with our legal obligations, resolve disputes, and enforce our<br>agreements.<br><br>We send out promotional
                        or marketing email to you. Out of respect for your<br>privacy, you may choose to stop receiving these emails by following the<br>unsubscribe instructions included in these emails, accessing the email<br>preferences in your account
                        settings page or you can contact us.<br><br>11. SOCIAL MEDIA WIDGETS<br><br>Our website includes social media features, such as the Facebook and Twitter button<br>and widgets, such as the share this button or interactive mini-programs
                        that<br>run on our website. These features may collect your IP address, which page you<br>are visiting on our website, and may set a cookie to enable the feature to<br>function properly. Social media features and widgets are either
                        hosted by a<br>third party or hosted directly on our site. Your interactions with these<br>features are governed by the privacy policy of the company providing it.<br><br>12. SINGLE SIGN-ON<br><br>You may log in to our website
                        using sign-in services such as Facebook Connect or an<br>Open ID provider. These services will authenticate your identity and provide<br>you the option to share certain personal information with us such as your name<br>and email
                        address to pre-populate our sign-up form. Services like Facebook<br>Connect give you the option to post information about your activities on this<br>site to your profile page to share with others within your network.<br><br>13.
                        CHANGES TO THIS PRIVACY POLICY<br><br>We may update this policy. We will notify you about significant changes in the way<br>we treat personal information by sending a notice to the primary email address<br>specified in your Anime
                        Fan account or by placing a prominent notice on our<br>site. If we make any material changes, we will notify you by email (sent to the<br>e-mail address specified in your account) or by means of a notice on this site<br>prior to
                        the change becoming effective. We encourage you to periodically review<br>this page for the latest information on our privacy practices.<br><br>14. CONTACT US<br><br>If you have questions or comments about this privacy policy please
                        contact us<br>through the information below:<br><br>info@animefan.com<br><br></h6>
                    <h2>GUIDELINES</h2>
                    <h6>Site &amp; Forum Guidelines<br><br><br>The following guidelines were written so that you, the general user, can get an idea of what<br>you can expect and what is to be expected of you during your time on the forum<br>and other parts
                        of Anime Fan.<br><br>These have been written as general guidelines only and are superseded by any more specific rule<br>threads on a particular section of the site written by a staff member that say<br>otherwise. The administrators
                        and forum moderators reserve the right to make<br>exceptions to any of these rules whenever they feel it is necessary to do so to<br>maintain proper decorum.<br><br>Failure to abide by these rules will result in various consequences
                        to temporary to permanent<br>bans. Recurring, wilful transgressions will result in a permanent ban. Rule<br>violations that do not fall into the below categories will be treated on a<br>case-by-case basis.<br><br>If you have any
                        questions regarding any of the aforementioned rules, feel free to message us.<br>If you find any content that does not meet these criteria, please message us<br>too.<br><br><br>General Site Guidelines<br><br>The following rules
                        are secondary to the Terms of Use.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Providing or requesting links to copyrighted, non-fair use<br>material is not allowed.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Do
                        not upload any NSAF (Not Safe for Anime Fan) images to the site (including user images).<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Trolling, abuse and/or harassment will not be tolerated.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Impersonating
                        another member of the site is not allowed.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Do not spam or advertise on Anime Fan.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Please report rule violations to us.
                        Do not attempt to address or correct the situation yourself.<br><br><br>Forum Guidelines<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>All posts in the main forum must be in English.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Posts
                        which fall into Anime Fan's definition of spam may be<br>removed without notice.<br><br><br>User Profile Guidelines<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Offensive usernames are unnecessary and will be changed.<br><br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>One
                        account per person. Duplicates will be banned and/or removed.<br><br><br>Definitions<br><br><strong>NSAF</strong>: Content that might be<br>considered offensive or too sexually explicit for the wide range of age groups<br>on Anime
                        Fan's user base. This includes, but is not limited to: erotic,<br>excessively violent, bigoted and harmful content.<br><br>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Erotic: Nudity, implied sexual acts, bodily fluids.<br><br>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Violent: Gore, disembowelment, dismemberment, torture.<br><br>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bigoted: Irrationally hateful content aimed at, or relating to, any group or individual.<br><br>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Harmful:
                        Seizure images.<br><br><strong>Spam:</strong><br><br>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Content without any purpose, coherency or relevance whatsoever.<br><br>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Off-topic posts that derail a thread
                        from its original topic.<br><br>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reaction images/videos and other images with no relevance to the discussion.<br><br><strong>Trolling:</strong>&nbsp;Starting arguments or upsetting users by posting
                        inflammatory, extraneous, or off-topic messages with<br>the intent of provoking users into an emotional response or of otherwise disrupting<br>normal on-topic discussion. (Source:&nbsp;<a href="http://en.wikipedia.org/wiki/Troll_(Internet)">Wikipedia</a>)<br><br>Insults
                        (abuse):<br>An insult is a derogatory remark that labels an individual or group of users.<br>Name-calling is not productive and typically derails the topic by turning the<br>discussion to the credibility of the user(s). It never
                        convinces the other<br>party and often provokes a similar reaction from other posters. The resulting<br>commotion is ineffective for the offender, offensive for the target, distracting<br>for spectators and tiring for moderators.<br><br>Advertising:<br>Posting
                        content with the intent to attract visitors to another location, either<br>an external site or another location on Anime Fan.<br><br>Impersonation:<br>Intentionally posting as another user or staff member by copying their<br>signature,
                        avatar, profile picture and/or choosing a username that may be<br>confused for another.<br><br></h6>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item" style="margin-bottom: 20px;box-shadow: 0px 0px 10px;border-radius: 15px;">
                            <div class="text-center timeline-image" style="margin-bottom: 10px;"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" style="box-shadow: 0px 0px 10px;"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Asad Azam</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted" style="margin-bottom: 20px;box-shadow: 0px 0px 10px;border-radius: 15px;">
                            <div class="text-center timeline-image" style="margin-bottom: 10px;"><img class="rounded-circle img-fluid" src="assets/img/about/DP.jpg" style="box-shadow: 0px 0px 10px;"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Rahul Airan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Anime Fan's Developer.<br>Currently a student of Symbiosis Institute of Technology, Pune.&nbsp;<br>A person of perseverance, who has some amazing ideas. An active member of Developer Students Club.<br>Email- airanrahul1999@gmail.com<br></p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="margin-bottom: 20px;box-shadow: 0px 0px 10px;border-radius: 15px;">
                            <div class="text-center timeline-image" style="margin-bottom: 10px;"><img class="rounded-circle img-fluid" src="assets/img/about/18070122062.jpg" style="box-shadow: 0px 0px 10px;"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Shivendra Singh</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Anime Fan's Developer.<br>Currently a student of Symbiosis Institute of Technology, Pune.&nbsp;<br>A passionate person who is always ready to learn new skills. Willing to face the fears and take risks.<br><br></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="accordian" style="width: 100%;margin: 0;">
        <ul>
            <li><a href="#"><img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"></a></li>
            <li><a href="#"><img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"></a></li>
            <li><a href="#"><img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"></a></li>
            <li><a href="#"><img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"></a></li>
            <li><a href="#"><img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"></a></li>
        </ul>
    </div>
    <div class="footer-dark" style="background: rgb(48,52,157);">
        <footer>
            <div class="container">
                <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="tribute.html">Tribute</a></li>
                            <li><a href="search.html">Search</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>This website was created as a part of software project</h3>
                        <p>Anime-fan.com is one of the best places a weeb or otaku can visit. With so many less sites to give you reccomendations and you wastong hours of your time searching for reccomendations this website is a sure visit for anyone who
                            love anime.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        <p class="copyright">Anime Fan © 2020</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>