{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mr+De+Haviland">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-CSS-Image-Slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-Half-Page-Image-Slider-Header.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-Image-Caption-Hover-Effect-5.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bootstrap-4---Full-Video-Background-v2.css' %}">
    <link rel="stylesheet" href="{% static '/css/Carousel-Hero.css' %}">
    <link rel="stylesheet" href="{% static '/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static '/css/header-1.css' %}">
    <link rel="stylesheet" href="{% static '/css/header-2.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/Latest-Events.css' %}">
    <link rel="stylesheet" href="{% static '/css/News-Cards-4-Columns-v2.css' %}">
    <link rel="stylesheet" href="{% static '/css/Search-Input-Responsive-with-Icon.css' %}">
    <link rel="stylesheet" href="{% static '/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/pagination_green.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean" style="padding: 10px;background: rgb(47,51,157);box-shadow: 0px 0px 20px rgb(0,0,0);">
        <div class="container-fluid">
            <div><a href="/animefan" style="color: rgb(255,255,255);text-decoration: none;font-size: 33px;font-family: Atma, cursive;">Anime Fan</a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center" href="/animefan" style="color: rgb(255,255,255);"><i class="fa fa-home d-flex justify-content-center align-items-center" style="padding-right: 10px;font-size: 18px;"></i>Home&nbsp;</a></li>
                    <li
                        class="nav-item d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center" href="/animefan/about" style="color: rgb(255,255,255);"><i class="fas fa-info d-flex justify-content-center align-items-center" style="padding-right: 10px;"></i>About Us<br></a></li>
                        <li
                            class="nav-item d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center align-items-xl-center"><a class="nav-link d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center" href="/animefan/tribute" style="color: rgb(255,255,255);"><i class="material-icons d-flex justify-content-center align-items-center" style="padding-right: 10px;font-size: 18px;">description</i>Tribute</a></li>
                            <li
                                class="nav-item d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"><a class="nav-link d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center" href="/animefan/search" style="color: rgb(255,255,255);"><i class="fas fa-search" style="padding-right: 10px;font-size: 18px;"></i>Search</a></li>
        </ul>
        </div>
        </div>
    </nav>
    <section class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;opacity: 0.78;height: 300px;background: url(&quot;{% static '/img/back.png' %}&quot;) center / cover no-repeat, rgba(255,255,255,0.22);margin-top: 2px;">
        <div style="background: rgba(255,255,255,0.7);padding: 10px 50px;box-shadow: 0px 0px 10px;border-radius: 25px;margin: 0 2.725%;">
            <h1>Anime Fan</h1>
            <p style="color: rgb(0,0,0);">We are just a group of weebs just trying to make your life easier! Hope you also drink Anime</p>
        </div>
    </section>
    <div class="container">
        <div class="row" style="padding: 0px;padding-top: 50px;">
            <div class="col-auto col-md-10 offset-md-1 align-self-start">
                <div class="card m-auto" style="max-width: 85%;">
                    <div class="card-body">
                        <form class="d-flex align-items-start align-items-sm-center" method="post" action="{% url 'search' %}">
                            {% csrf_token %}
                            <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                            {% if query == "NULL" %}
                                <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" placeholder="Search" name="searchbar" style="margin-left: 5px;border-width: 1px;border-style: solid;margin-right: 5px;">
                            {% else %}
                                <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" value={{ query }} name="searchbar" style="margin-left: 5px;border-width: 1px;border-style: solid;margin-right: 5px;">
                            {% endif %}
                            <div class="form-row">
                                <div class="col d-flex justify-content-center" style="padding-bottom: 5px;">
                                    <button class="btn btn-success btn-lg" type="submit" style="border-radius: 20px;" action=''>Search</button>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="height: 48px;background: rgb(48,52,157);box-shadow: 0px 0px;border-radius: 20px;">More&nbsp;</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/animefan/filter/popularity">Popularity</a>
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">Mood</h6>
                                                <a class="dropdown-item" href="/animefan/filter/mood-happy">Happy</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-sad">Sad</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-cheerful">Cheerful</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-Energetic">Energetic</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-Sporty">Sporty</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-romantic">Romantic</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-Calm">Calm</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-Excited">Excited</a>
                                                <a class="dropdown-item" href="/animefan/filter/mood-Smart">Smart</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/animefan/filter/rating">Rating</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <div class="col" style="padding: 25px;">
        <div class="container d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
            <h2>Genre</h2>
        </div>
        <div class="container-fluid" style="text-align: center;">
            <div class="row row-cols-2">
                <div class="col-md-3"><a href="/animefan/filter/genre-action">Action</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-adventure">Adventure</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-comedy">Comedy</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-drama">Drama</a></div>
            </div>
            <div class="row row-cols-2">
                <div class="col-md-3"><a href="/animefan/filter/genre-fantasy">Fantasy</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-horror">Horror</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-magic">Magic</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-mecha">Mecha</a></div>
            </div>
            <div class="row row-cols-2">
                <div class="col-md-3"><a href="/animefan/filter/genre-mystery">Mystery</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-romance">Romance</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-school">School</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-Sci-FI">Sci-fi</a></div>
            </div>
            <div class="row row-cols-2">
                <div class="col-md-3"><a href="/animefan/filter/genre-seinen">Seinen</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-shoujo">Shoujo</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-shounen">Shounen</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-slice of life">Slice of Life</a></div>
            </div>
            <div class="row row-cols-2">
                <div class="col-md-3"><a href="/animefan/filter/genre-sports">Sports</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-super power">Super Power</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-supernatural">Supernatural</a></div>
                <div class="col-md-3"><a href="/animefan/filter/genre-thriller">Thriller</a></div>
            </div>
        </div>
    </div>
    </div>
    {% if no_search == True %}
        <dir class="container d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
            <h2>Blank Searches are Not Supported yet!</h2>
        </dir>
    {% endif %}

    {% if hidden == False %}

    <div class=container>
        {% comment %} <table >
        <tr>
            <th>S. No.</th>
            <th>Anime Name</th>
            <th>Genre</th>
            <th>Anime Type</th>
            <th>Episodes</th>
            <th>Rating</th>
            <th>Members</th>
            <th>Mood</th>
        </tr> {% endcomment %}
        <table class="table table-bordered table-hover" style="width:100">
                <thead class="anime-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-0">S. No.</th>
                        <th id="trs-hd" class="col-lg-2">Anime Name</th>
                        <th id="trs-hd" class="col-lg-3">Genre</th>
                        <th id="trs-hd" class="col-lg-2">Anime Type</th>
                        <th id="trs-hd" class="col-lg-2">Episodes</th>
                        <th id="trs-hd" class="col-lg-2">Rating</th>
                        <th id="trs-hd" class="col-lg-2">Members</th>
                        <th id="trs-hd" class="col-lg-2">Mood</th>
                    </tr>
                    </thead>
        {% for i in response %}
            <tr>
                <th>{{ i.SNo }}</th>
                <th>{{ i.AnimeName }}</th>
                <th>{{ i.Genre }}</th>
                <th>{{ i.AnimeType }}</th>
                <th>{{ i.Episodes }}</th>
                <th>{{ i.Rating }}</th>
                <th>{{ i.Members }}</th>
                <th>{{ i.Mood }}</th>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="pagination d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
        {% if response.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ response.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {% endif %}
        <span class="pagination-current">{{ response.number }}</span>
        <span class="pagination-of">of</span>
        <span class="pagination-total">{{ response.paginator.num_pages }}</span>

        {% if response.has_next %}
            <a class="pagination-action" href="?page={{ response.next_page_number }}">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ response.paginator.num_pages }}">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>

    {% comment %} <div class="table-button">
        <a class="btn btn-info button" href="#" role="button">Previous</a>
        <a class="btn btn-primary button" href="#" role="button">Next</a>
    </div> {% endcomment %}
  
    {% endif %}
    </div>
    <div class="blog-home2 py-5">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3">Upcoming Anime</h3>
        <h6 class="subtitle font-weight-normal">Most enticing Animes of 2020</h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="{% static '/img/Search/bna.jpg' %}" alt="wrappixel kit"></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">April<span class="d-block">2021</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Boku no Hero Academia 5th Season</a></h5>
          <p class="mt-3"><br><b>Genres</b>: Action, Comedy, Super Power, School, Shounen</p>
          <p class="mt-3"><b>Studios</b>: Bones</p>
          <a href="https://www.youtube.com/watch?v=Mq4WP_inuNM&feature=emb_logo" class="text-decoration-none linking text-themecolor mt-2">Watch Trailer</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="{% static '/img/Search/final.jpg' %}" alt="wrappixel kit"></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">December, 7<span class="d-block"> 2020</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Shingeki no Kyojin: The Final Season <br> Attack on Titan Final Season</a></h5>
          <p class="mt-3"><b>Genres</b>: Action, Military, Mystery, Super Power, Drama, Fantasy, Shounen</p>
          <p class="mt-3"><b>Studios</b>: MAPPA</p>
          <a href="https://www.youtube.com/watch?v=SlNpRThS9t8&feature=emb_logo" class="text-decoration-none linking text-themecolor mt-2">Watch Trailer</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="{% static '/img/Search/tpn.jpg' %}" alt="wrappixel kit" height=495></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Jan<span class="d-block">2021</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Yakusoku no Neverland 2nd Season<br>The Promised Neverland 2nd Season</a></h5>
          <p class="mt-3"><b>Genres</b>: Sci-Fi, Mystery, Psychological, Thriller, Shounen</p>
          <p class="mt-3"><b>Studio</b>: CloverWorks</p>
          <a href="https://www.youtube.com/watch?v=qO0z2_r6w_8&feature=emb_logo" class="text-decoration-none linking text-themecolor mt-2">Watch Trailer</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="footer-dark" style="background: rgb(48,52,157);">
        <footer>
            <div class="container">
                <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="/animefan">Home</a></li>
                            <li><a href="/animefan/about">About Us</a></li>
                            <li><a href="/animefan/tribute">Tribute</a></li>
                            <li><a href="/animefan/search">Search</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>This website was created as a part of software project</h3>
                        <p>Anime-fan.com is one of the best places a weeb or otaku can visit. With so many less sites to give you reccomendations and you wastong hours of your time searching for reccomendations this website is a sure visit for anyone who
                            love anime.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="col item social"><a href="https://github.com/RahulAiran/AnimeFan"><i class="icon ion-social-github"></i></a></div>
        <p class="copyright">Anime Fan © 2020</p>
    </div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/Simple-Slider.js' %}"></script>
</body>

</html>