{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mr+De+Haviland">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-CSS-Image-Slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-Half-Page-Image-Slider-Header.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bold-BS4-Image-Caption-Hover-Effect-5.css' %}">
    <link rel="stylesheet" href="{% static '/css/Bootstrap-4---Full-Video-Background-v2.css' %}">
    <link rel="stylesheet" href="{% static '/css/Carousel-Hero.css' %}">
    <link rel="stylesheet" href="{% static '/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static '/css/header-1.css' %}">
    <link rel="stylesheet" href="{% static '/css/header-2.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/Latest-Events.css' %}">
    <link rel="stylesheet" href="{% static '/css/News-Cards-4-Columns-v2.css' %}">
    <link rel="stylesheet" href="{% static '/css/Search-Input-Responsive-with-Icon.css' %}">
    <link rel="stylesheet" href="{% static '/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/Team-Grid.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean" style="padding: 10px;background: rgb(47,51,157);box-shadow: 0px 0px 20px rgb(0,0,0);">
        <div class="container-fluid">
            <div><a href="/animefan" style="color: rgb(255,255,255);text-decoration: none;font-size: 33px;font-family: Atma, cursive;">Anime Fan</a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse d-flex align-items-center ml-auto" id="navcol-1">
                <ul class="nav navbar-nav d-flex align-items-center ml-auto">
                    <li class="nav-item d-flex d-xl-flex align-items-center ml-auto align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center ml-auto align-items-xl-center" href="/animefan" style="color: rgb(255,255,255);"><i class="fa fa-home d-flex align-items-center ml-auto" style="padding-right: 10px;font-size: 18px;"></i>Home&nbsp;</a></li>
                    <li
                        class="nav-item d-flex d-xl-flex align-items-center ml-auto align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center ml-auto align-items-xl-center" href="/animefan/about" style="color: rgb(255,255,255);"><i class="fas fa-info d-flex align-items-center ml-auto" style="padding-right: 10px;"></i>About Us<br></a></li>
                        <li
                            class="nav-item d-flex d-xl-flex align-items-center ml-auto align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center ml-auto align-items-xl-center" href="/animefan/tribute" style="color: rgb(255,255,255);"><i class="material-icons d-flex align-items-center ml-auto" style="padding-right: 10px;font-size: 18px;">description</i>Tribute</a></li>
                            <li
                                class="nav-item d-flex d-xl-flex align-items-center ml-auto align-items-xl-center"><a class="nav-link d-flex d-xl-flex align-items-center ml-auto align-items-xl-center" href="/animefan/search" style="color: rgb(255,255,255);"><i class="fas fa-search" style="padding-right: 10px;font-size: 18px;"></i>Search</a></li>
                                <li
                                    class="nav-item d-xl-flex align-items-xl-center"></li>
                                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="padding: 10px;color: rgb(255,255,255);" href="#">Andrew Stevens<img style="width:30px;height:30px;padding:0;margin-left:5px;" src="{% static '/img/andrew.jpg' %}"></a>
                                        <div
                                            class="dropdown-menu"><a class="dropdown-item" href="#" style="padding-bottom: 6px;">My favourites</a><a class="dropdown-item" href="#">Logout <i class="fa fa-user-times" id="logouticon"></i></a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <section class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;opacity: 0.78;height: 300px;background: url(&quot;{% static '/img/back.png' %}&quot;) center / cover no-repeat, rgba(255,255,255,0.22);margin-top: 2px;">
        <div style="background: rgba(255,255,255,0.7);padding: 10px 50px;box-shadow: 0px 0px 10px;border-radius: 25px;margin: 0 2.725%;">
            <h1>Anime Fan</h1>
            <p style="color: rgb(0,0,0);">We are just a group of weebs just trying to make your life easier! Hope you also drink Anime</p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col" style="border-radius: 10px;padding: 15px;min-width: 330px;">
                <div style="position: relative;overflow: hidden;border-radius: 10px;box-shadow: 0px 0px 10px;"><img class="Tribute-Image" src="{% static '/img/tribute/hayao-miyazaki.jpg' %}" height="340px" style="object-fit: cover;width: 100%;border-radius: 10px;">
                    <div style="height: 100px;position: absolute;bottom: 0px;width: 100%;height: 65%;background: linear-gradient(90deg, rgba(22,94,143, 0.8), rgba(44,224,167, 0.8));padding: 25px;">
                        <h1 style="color: rgb(255,255,255);font-size: 28px;">Spirited Away: Hayao Miyazaki<br></h1>
                        <p style="color: rgb(255,255,255);font-size: 13.5px;"><strong>Hayao Miyazaki</strong>&nbsp;is a Japanese animator, director, producer, screenwriter, author, and manga artist.&nbsp;A co-founder of Studio Ghibli&nbsp;a film and animation studio, he is regarded as one of the most accomplished
                            filmmakers in the history of anime.<br></p>
                    </div>
                </div>
            </div>
            <div class="col" style="border-radius: 10px;padding: 15px;min-width: 330px;">
                <div style="position: relative;overflow: hidden;border-radius: 10px;box-shadow: 0px 0px 10px;"><img class="Tribute-Image" src="{% static '/img/tribute/akira-toriyama-knighted-by-france.jpg' %}" height="340px" style="object-fit: cover;width: 100%;border-radius: 10px;">
                    <div style="height: 100px;position: absolute;bottom: 0px;width: 100%;height: 65%;background: linear-gradient(90deg, rgba(22,94,143, 0.8), rgba(44,224,167, 0.8));padding: 25px;">
                        <h1 style="color: rgb(255,255,255);font-size: 28px;">Dragon Ball: Akira Toriyama<br></h1>
                        <p style="color: rgb(255,255,255);font-size: 13.5px;"><strong>Akira Toriyama&nbsp;</strong>is a Japanese manga artist and character designer. He is regarded as one of the artists that changed the history of comics, as his works are highly influential and popular, particularly&nbsp;<em>Dragon Ball,</em>&nbsp;which
                            many comics artists cite as a source of inspiration.<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="border-radius: 10px;padding: 15px;min-width: 330px;">
                <div style="position: relative;overflow: hidden;border-radius: 10px;box-shadow: 0px 0px 10px;"><img class="Tribute-Image" src="{% static '/img/tribute/Masashi-Kishimoto-2.jpg' %}" height="340px" style="object-fit: cover;width: 100%;border-radius: 10px;">
                    <div style="height: 100px;position: absolute;bottom: 0px;width: 100%;height: 65%;background: linear-gradient(90deg, rgba(22,94,143, 0.8), rgba(44,224,167, 0.8));padding: 25px;">
                        <h1 style="color: rgb(255,255,255);font-size: 28px;">Naruto: Masashi Kishimoto<br></h1>
                        <p style="color: rgb(255,255,255);font-size: 13.5px;"><strong>Masashi Kishimoto</strong>&nbsp;is a Japanese manga artist.&nbsp;His best known work, <em>Naruto,</em>&nbsp;was in serialization from 1999 to 2014 and has sold over 250 million copies worldwide in 46 countries as of May
                            2019.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col" style="border-radius: 10px;padding: 15px;min-width: 330px;">
                <div style="position: relative;overflow: hidden;border-radius: 10px;box-shadow: 0px 0px 10px;"><img class="Tribute-Image" src="{% static '/img/tribute/oda.jpg' %}" height="340px" style="object-fit: cover;width: 100%;border-radius: 10px;">
                    <div style="height: 100px;position: absolute;bottom: 0px;width: 100%;height: 65%;background: linear-gradient(90deg, rgba(22,94,143, 0.8), rgba(44,224,167, 0.8));padding: 25px;">
                        <h1 style="color: rgb(255,255,255);font-size: 28px;">One Piece: Eiichiro Oda<br></h1>
                        <p style="color: rgb(255,255,255);font-size: 13.5px;"><strong>Eiichiro Oda</strong>&nbsp;is a Japanese manga artist and the creator of the series <em>One Piece</em>&nbsp;.With more than 470&nbsp;million&nbsp;copies in circulation worldwide,&nbsp;<em>One Piece</em>&nbsp;is both the
                            best selling manga and the best selling comic series of all time.&nbsp;<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="background: rgb(48,52,157);">
        <footer>
            <div class="container">
                <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="/animefan">Home</a></li>
                            <li><a href="/animefan/about">About Us</a></li>
                            <li><a href="/animefan/tribute">Tribute</a></li>
                            <li><a href="/animefan/search">Search</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>This website was created as a part of software project</h3>
                        <p>Anime-fan.com is one of the best places a weeb or otaku can visit. With so many less sites to give you reccomendations and you wastong hours of your time searching for reccomendations this website is a sure visit for anyone who
                            love anime.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="col item social"><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="fa fa-envelope-o"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a></div>
        <p class="copyright">Anime Fan © 2020</p>
    </div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/Simple-Slider.js' %}"></script>
</body>

</html>